.profile-pic {
    max-width: 30vw;
    min-width: 8vw;
    border-radius: 15px;
    margin: 1vw;

}

* {
    /* box-sizing: border-box; */
}

body {
    margin: 4em;
    margin-left: 0%;
    font-family: Montserrat;
    /* background-color: #000; */
}

.name {

    margin-top: 1%;

    margin-bottom: 0%;
}


.occupation {
    margin-top: 1%;
    color: var(--Gray-3, #828282);

    font-size: 1.125rem;

}

.discription {
    max-width: 21vw;
    color: var(--Gray-3, #828282);
    font-size: 1.3rem;

}

.left-profile {

    background-color: aliceblue;
    width: max-content;
    height: max-content;
    border-radius: 10px;

}

.content {
    margin-left: 8%;
}

.front-end-and-design-flex {
    display: flex;
}

.Flex-container {
    display: flex;

}

.sub-div {
    padding: 0.7%;
}

.info {
    margin: 1em;
    color: var(--Gray-2, #4F4F4F);
    font-size: 0.9rem;
}

.contact-info {
    display: flex;
    flex-direction: column;

}

.design-container {

    background-color: aliceblue;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    margin-left: 1em;
}

.front-end {
    display: grid;
    grid-template: repeat(6, auto) / repeat(2, 10vw);
    margin-left: 4vw;
    margin-right: 8vw;
    margin-bottom: 1vw;
    

}

.progress-bar {
    height: 5px;
    width: 16vw;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin: 2px;

}

.front-end-container {
    background-color: aliceblue;
    width: max-content;
    /* padding: 0.5em; */
    height: max-content;

    border-radius: 20px;
    margin-left: 2vw;
}

.front-end-heading {
    margin-left: 1em;
}



.filled {
    background-color: rgb(9, 219, 195);
    width: 60%;
    height: 100%;
    border-radius: 5px;
}

.span {
    margin-left: 10%;
}

.experiences {

    /* margin-left: 8rem; */
    width: max-content;
    height: max-content;
    border-radius: 10px;
    background-color: aliceblue
}


.exp-img {
    width: 7vw;
    height: 5em;
    margin-top: 10px;
    margin-left: 10px;

}

.span-2 {
    padding-top: 0.3em;
    color: #000;
    margin-right: 2em;
    font-size: 0.95em;
    font-weight: 600;
    max-width: 11vw;

}

.exp-info {
    font-size: 1em;
    display: flex;
    margin-left: 1em;
    flex-direction: column;
}

.projects {

    background-color: aliceblue;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    padding: 0.1em;
    margin: 1em;
}

.projects-2 {

    background-color: aliceblue;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    padding: 0.1em;
    margin: 1em;
}

.projects-3 {
    grid-row: 5/6;
    grid-column: 2/4;
    background-color: aliceblue;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    padding: 0.1em;
    margin: 1em;
}

.discription-2 {
    max-width: 10vw;
    font-size: 0.8em;
    color: #828282;
    font-size: 0.8em;


}

.name-hobbies {
    margin-left: 1rem;
}
.name-exp {
    margin-top: 1em;
    margin-left: 1rem;
}

.date {
    color: #828282;
    font-size: 0.875em;

}

.discription-3 {
    color: #828282;
    font-size: 1rem;
    max-width: 50vw;
    /* margin: 10%; */
}

.button {
    border-radius: 0.75em;
    background-color: #2F80ED;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-2 {
    border-radius: 0.75em;
    border: 2px solid #2F80ED;
    background-color: white;
    color: #2F80ED;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.tags {
    color: #4F4F4F;
    font-family: Montserrat;
    font-size: 0.8rem;

}


.imgproject {
    border-radius: 0.75rem;


    width: 10vw;
    /* height: 11em; */
}

.right-content-p1 {
    margin-left: 1em;

}

.right-content-p {
    display: flex;
    margin: 1.6em;

}

.hobbies {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    height: max-content;
    width: max-content;
    background-color: aliceblue;
    border-radius: 10px;
    /* margin-left: 8em; */


}

.hobbie {
    margin: 1em;
}

.blog {
    display: flex;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 1vw;
}

.header-1 {
    color: #333;

    font-size: 1.5rem;

}

.discription-hobbies {
    max-width: 20vw;
    color: #828282;
    word-wrap: break-word
}

.discription-4 {
    color: #828282;

    font-size: 1rem;

}

.left-blog-content {
    max-width: 30vw;
    margin: 2em;
}

.bimg {
    border-radius: 10px;
    margin: 1em;
    min-width: 25vw;
}

.b {

    color: #E0E0E0;
    font-family: Montserrat;
    font-size: 0.8em;

}


.blog-label {
    /* margin: 10em; 
    */
    margin-left: 1vw;
    width: 65vw;
    border-radius: 10px;
    height: max-content;
    padding: 0.1em;
    padding-left: 1em;
    background-color: aliceblue;
    color: #4F4F4F;
    font-size: 1.125rem;

}

.poject-label {
    /* margin-left: 2vw; */
    margin: 1em;
    /* margin: 10em; */
    width: 65vw;

    padding: 0.1em;
    padding-left: 1em;
    border-radius: 10px;
    height: max-content;
    background-color: aliceblue;
    color: #4F4F4F;

    font-size: 1.125rem;

}


@media only screen and (max-width: 800px) {
    .Flex-container {
        display: flex;
        flex-direction: column;
    }
    .all-exp
    {
        display: flex;
    }
    .left-profile {
           display: flex;
    
    }
    .discription {
        max-width: 70vw;
       
    .blog
    {
        width: 100vw;
    }

    }
    .discription-2 {
        max-width: 23vw;
       
    
    
    }
    .discription-3 {
      
        max-width: 80vw;
        /* margin: 10%; */
    }
    .left-blog-content {
        max-width: 60vw;
        margin: 2em;
    }
    .front-end {
      
        grid-template: repeat(6, auto) / repeat(2, 15vw);
    
    }
    .experiences
    {
        
        width: 100vw;
    }

    .bimg {
        
        min-width: 8vw;
    }
    .blog-label {
    width: 100vw;
    }
    .poject-label {
        width: 100vw;
    }
   
    .exp-img {
        width: 5vw;
       
    
    }
    .hobbies-img
    {
      width:100%;
    }
    .front-end-container {
    margin-top: 1em;
    }
    .design-container
    {
        margin-top: 1em;
    }
   .hobbies
   {
    width: 100vw;
   }
    
  }